* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    outline: 1px solid red;
    vertical-align: baseline;
} 
.container{
    width: 970px;
    margin: 0 auto;
    background-color: aliceblue;
}
.topRow {
    width: 100%;
    display: inline-block;
    vertical-align: inline-block;
    
}
.topRow img {
    width: 11%;
   display:inline-block; 
   margin-bottom: -23px;
    
}
.topRow h1{
    display: inline-block;
    vertical-align: bottom;
    font-size: 300%;
}
.topRowWWW{
    font-size: 150%;
    color: white;
    background: radial-gradient(rgb(35, 35, 206), rgb(71, 156, 230));
    padding: 5px;
}
.sideBar {
    width: 25%;
    display: inline-block;
    margin-left: 5px;
    vertical-align: top;
}
.sideBarTop {
    margin-top: 20px;
    font-weight: bold;
    border-bottom: 3px solid gray;
}    
#largeText {
    font-size: 125%;
    margin-bottom: 6px;
}
.sideBarTop button {
    margin-top: 20px;
    width: 150px;
}
#blueBtn {
    background-color: rgb(35, 35, 206);
    color: white;
    border-radius: 5px;
    padding: 8px;
    margin-left: 15%;
}
#orgBtn {
    background-color: orangered;
    color: white;
    border-radius: 5px;
    padding: 8px;
    margin-left: 15%;
    margin-top: 3px;
    margin-bottom: 20px;
}
.sideBarBottom {
    height: 275px;
    margin-top: 20px;
    background-image: url(ad_background.png);
    color: white;
    text-align: center;
}
.sideBarBottom p {
    padding-top: 7px;
}
.sideBarBottom img {
    width: 30%;
    display: block;
    margin-left: 35%;
    margin-bottom: 10px;
    margin-top: 15%;
}
.sideBarBottom button {
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(7, 151, 151);
    color: white;
    font-weight: bold;
}
.mainContent{
    width: 71%;
    display: inline-block;
    margin-left: 5px;
    margin-right: 2px;
    margin-top: 10px;
}
.mainTopRow {
    vertical-align: top;
    width: 100%;
    display: inline-block;
    margin-left: 0px;
    
}
#homeDNS {
    width: 40%;
    vertical-align: top;
    display: inline-block;
}
#homeDNS img {
    width: 5%;
}
#homeDNS span {
   vertical-align: top;
}
#contact {
    display: inline-block;
    width: 36%;
    margin-left: 160px;
    
}
#contact img {
    width: 15%;
    margin-left: 21%;
    
}
#contactWords {
    display: inline-block;
    margin-left: 2px;

}
#contactWords p {
    font-size: 60%;
}
#contactWords h2 {
    color: rgb(7, 151, 151);
}
    
    

