*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    width: 980px;
    background: linear-gradient(lightgray, aliceblue);
    margin: 0 auto;
}
.topRow {
    display: inline-block;
}
.topRow img {
    width: 100px;
    display: inline-block;
    margin-bottom: -19px;
}
.topRow h1 {
    display: inline-block;
    vertical-align: top;
    margin-top: 40px;
}
.topRow span {
    color: blue;
}
.wwwBar {
    background: radial-gradient(rgb(162, 172, 223), blue);
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
}
.wwwBar h2 {
    margin-left: 8px;
}
.sidebar {
    width: 200px;
    display: inline-block;
}
.topLevel h4 {
    margin-top: 10px;
    margin-left: 5px;
}
.topLevel h4 span {
    color: red;
}
.topLevel p {
    font-size: 80%;
    margin-left: 5px;
    margin-top: 5px;
    font-weight: bold;
}
.topLevel p span {
    color: blue;
}
#blueBtn {
    margin-top: 15px;
    margin-left: 5px;
    padding: 5px;
    background-color: rgb(25, 23, 126);
    color: white;
    border-radius: 5px;
    width: 190px;
    border: none;
}
#orgBtn {
    margin-top: 5px;
    margin-left: 5px;
    padding: 5px;
    background-color: orangered;
    color: white;
    border-radius: 5px;
    width: 190px;
    border: none;
}
.topLevel {
    padding-bottom: 30px;
    border-bottom: 2px solid darkgrey;
    display: inline-block;
}
.bottomLevel {
    margin-top: 30px;
    background-image: url(ad_background.png);
    width: 190px;
    height: 320px; 
    margin-left: 5px; 
    display: inline-block;     
}
#adbgd {
    width: 100%;
}
.bottomLevel h3 {
    color: white;
    vertical-align: top;
    display: inline-block;
    margin-top: 30px;
    text-align: center;
}
#nja {
    width: 75px;
    vertical-align: top;
    margin-left: 50px;
    margin-top: 60px;
}
.bottomLevel button {
    display: inline-block;
    vertical-align: bottom;
    margin-top: 10px;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(10, 147, 201);
    color: white;
    border: none;
    margin-left: 35px;
}
.mainContent {
    display: inline-block;
    width: 765px;
    margin-left: 10px;
    vertical-align: top;
}
.subHeader {
    width: 765px;
    border-bottom: 2px solid gray;
    padding-bottom: 15px;
}
.subHeaderL {
    display: inline-block;
    width: 300px;    
}
.subHeaderL img{
    width: 25px;
    vertical-align: top;
    margin-top: 2px;
}
.subHeaderL p {
    color: blue;
    vertical-align: top;
    display: inline-block;
    margin-top: 8px;
}
.subHeaderR {
    display: inline-block;
    vertical-align: top;
    margin-left: 163px;
    
}
.subHeaderR img {
    width: 60px;
}
.subHeaderR div {
    display: inline-block;
    vertical-align: top;
}
.subBody {
    width: 765px;
    display: inline-block;
    margin-left: 10px;
}
.subBody h3 {
    margin-top: 3px;
    color: blue;
}
.subBody p {
    margin-top: 3px;
}
.subBody ul {
    margin-top: 8px;
    margin-left: 18px;
}
.subBody ul li span {
    color: rgb(6, 158, 158);
}
.bold {
    font-weight: bold;
}
.subBody img {
    width: 350px;
    margin-left: 25%;
    margin-bottom: 10px;
    margin-top: 10px;
}
.subBody ol {
    margin-top: 8px;
    margin-left: 18px;
    margin-bottom: 10px;
}
.footer {
    width: 745px;
    display: inline-block;
    border-top: 5px solid blue;
    border-left: 5px solid blue;
    border-right: 5px solid blue;
}
.footer img {
    width: 150px;
    display: inline-block;
    vertical-align: top;
    margin-left: 0;
   
}.footer div {
    width: 550px;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}
.footer p {
    margin-top: 10px;
}
.footer span {
    color: rgb(6, 158, 158);
}